* {
  box-sizing: border-box;
}
header {
  background-color: #000;
  color: #fff;
} 

header nav a:link {
    color: #fff;
    text-decoration: none;
  }

header ul {
  list-style: none;
}
header ul {
  display: flex;
}

header .wrapper {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

header .wrapper nav li {
  display: inline-block;
  padding: 0 1em;
}


.wrapper {
  max-width: 940px;
  margin: auto;
}

#hero {
  height: 600px;
  background-color: beige;
  background-image: url(../images/hands-typing.jpg);
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 60%;
  color: #fff;
  background-color: #00000050;
  text-shadow: 2px 2px #000;
  margin: auto;
  text-align: center;
}

.about-me-grid img {
  width: 350px;
}
.about-me-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.about-me-grid :nth-child(1) {
  align-self: center;
}

.about-me-grid :nth-child(2) {
  align-self: flex-end;
}

.services {
  background-color: #fafafa;
  margin: auto;
  /* idk if thats right */
}

.services h2 {
  max-width: 940px;
  text-align: center;
  margin-top: auto;
  padding-top: 1em;
}

.s-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
  padding: 2em;
}

.s-grid article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 1em;
}

.s-grid article h3 {
  margin: 0;
}

.s-grid article a:link {
  display: inline-block;
  background-color: #000;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  border: 1px solid;
  border-radius: 4px;
  margin-top: auto;
}

.s-grid article a:hover {
  /* switch atributes */
}

.my-work h2, .my-work p {
  background-color: aqua;
  text-align: center;
  /* must add max width*/
}

#work img {
  width: 100%;
}

#work .img-grid {
  background-color: aquamarine;
  display: grid;
  /* display: flex; */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#work .img-grid :nth-child(1) {
  grid-column: 1 / 4
}

#work .img-grid :nth-child(2) {
  grid-column: 4 / -1
}

#work .img-grid :nth-child(3) {
  grid-column: 1 / 4
  
}

#work .img-grid :nth-child(4) {
  grid-column: 1 / 4
}

#work .img-grid :nth-child(5) {
  grid-column: 1 / 4
}


/* #work img {
  grid-template-areas: 
    "i1 i2 i3 i4 i5"
  ;
}

#work img {
  grid-template-areas: 
    "i1 i1 i2 i2"
    "i3 i4 i5" */
  ;
}"
  ;
}




/* .img-grid {
  background-color: blue;
  display: grid;
  max-width: 940px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}

.img-grid {
  grid-template-areas: 
    "img1 img2 img3 img4 img5"
  ;
}

grid-template-areas: 
"img1 img2"
"img3 img4 img5"
; */



footer {
  background-color: red;
  color: #fff;
  text-align: center;
}