* {
  box-sizing: border-box;
}
header {
  background-color: #000;
  color: #fff;
} 

header nav a:link {
    color: #fff;
    text-decoration: none;
  }

header ul {
  list-style: none;
}
header ul {
  display: flex;
}

header .wrapper {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

header .wrapper nav li {
  display: inline-block;
  padding: 0 1em;
}


.wrapper {
  max-width: 940px;
  margin: auto;
}

#hero {
  height: 600px;
  background-color: beige;
  background-image: url(../images/hands-typing.jpg);
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 60%;
  color: #fff;
  background-color: #00000050;
  text-shadow: 2px 2px #000;
  margin: auto;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}




footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}